<!-- Bio -->
<h1><%= @user.username %>'s Profile</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>
<p><%= link_to "Followers", followers_path(id: @user.id) %>
	<%= link_to "Following", following_path(id: @user.id) %>
</p>

<!-- Follow/unfollow buttons -->
<div>
	<% if current_user.following.include?(@user.id) %>
		<%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary unfollow_btn" %>
	<% elsif current_user.id != @user.id %>
		<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	<% end %>
</div>

<!-- All tweets -->
<% @user.tweets.each do |tweet| %>
	<div class="well">
		<p><%= link_to @user.username, show_user_path(id: tweet.user.id) %></p>
		<p><%= tweet.message.html_safe %></p>
	</div>
<% end %>